[hidden]{
    display: none !important;
}

.upload-file .label-info{
    width: 20vw;
    border: 2px solid black;
    border-left: 5px solid black;
}

.checkbox{
    margin-left: 15px;;
}

.checkbox span{
    margin-left: 15px;
}

.filters{
    text-align: center;
    margin-bottom: 50px;
}